.sss-100 {
  background-color: #0075dd;
  justify-content: center;
  /* height: 800px!important; */
  height: fit-content !important;
}
.cardd {
  width: 450px !important;
  margin: auto;
  left: 0;
  right: 0;
  position: relative;
}
.button-primary {
  background-color: #37a703;
  border-radius: 5px;
  border: 2px solid transparent;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  color: white;
  cursor: pointer;
  font-family: "Franklin Gothic URW", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  width: 99% !important;
}
.img {
  width: 300px;
}
.color {
  background-color: #37a703 !important;
  color: #fff !important;
}
.div1 {
  width: 100px;
  height: 0.5px;
  margin-right: 20px;

  background-color: black;
}
.div2 {
  width: 100px;
  height: 0.5px;
  background-color: black;
  margin-left: 20px;
}
.mainss {
  display: flex;
  justify-content: center;
  margin-top: 30px !important;
}
.top {
  margin-top: -13px;
}
.btn1 {
  background-color: #ffffff !important ;
  /* border: 1px solid; */
}
.btn1:hover {
  color: lightgray;
}
.password {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  /* text-align: center; */
}
.img1 {
  position: absolute;
  margin-left: 180px;
  margin-top: 25px !important;
}
.texts {
  margin-top: 20px !important;
}
.img22 {
  margin-left: 175px;
}
.texts1 {
  margin-top: -22px !important;
}
.google {
  font-weight: 500;
  width: 100% !important;
  height: 54px;
}
.form {
  width: 300px;
  height: 50px;
  position: relative;
}
.form input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #2ecc71;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-size: 20px;
}
.form label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.3s;
  padding: 0 5px;
  pointer-events: none;
}
.form input:focus ~ label {
  top: -9px;
  background-color: #2c3e50;
}